@use "../setting/color" as *;
@use "../mixin/mixin" as *;
//page-bottom
.page-bottom {
  color: $white;
  &__item {
    padding: 40px;
    &--contact {
      background-color: $bg-m-blue;
    }
    &--twitter {
      background-color: $bg-blue;
    }
  }
  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 54px 10px;
  }
}

/* ---ページ上部に戻る--- */
.return-wrap {
  position: relative;
}

.return-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.return-top-text {
  display: block;
  height: 55px;
  width: 55px;
  background: linear-gradient($bg-l-blue, $bg-blue);
  color: $white;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
}
/* ----------- */

//footer
.footer {
  padding: 10px;
  text-align: center;
  &__copy {
    font-size: 11px;
    font-family: "Noto Sans JP", sans-serif;
  }
}
